.ExcelTable2003 {
	border: 3px solid #404040;
	border-width: 3px 3px 3px 3px;
	font-size: 10pt;
	font-family: arial;
	border-spacing: 0px;
	border-collapse: collapse;
}

.ExcelTable2003 TH {
	background-color: #D4D0C8;
	border: 1px solid #808080;
	border-width: 0px 1px 1px 0px;
	font-weight: normal;
}

.ExcelTable2003 TD {
	border: 0px;
	background-color: white;
	padding: 0px 4px 0px 2px;
	border: 1px solid #C0C0C0;
	border-width: 0px 1px 1px 0px;
}

.ExcelTable2003 TD.heading {
	background-color: #D4D0C8;
	border: 1px solid #808080;
	border-width: 0px 1px 1px 0px;
	text-align: center;
	padding: 0px 0px 0px 0px;
}


        .xcl_header {
          font-weight: bold;
          font-size: 15px;
          border-top: 3px solid black !important;
          border-bottom: 3px solid black !important;
        }
        .bold {
          font-weight: bold;
        }
        .border_top_heavy {
          border-top: 2px solid black !important;
        }
        .deposit_is_label {
          text-align: center;
          border-top: 2px solid black !important;
          border-left: 2px solid black !important;
          border-right: 2px solid black !important;
        }
        .deposit_is_value {
          text-align: center;
          font-weight: bold;
		  color:black;
          border-bottom: 2px solid black !important;
          border-left: 2px solid black !important;
          border-right: 2px solid black !important;
        }
        .should_be {
          text-align: center;
		  color:black;
        }
		.ep_input input {
          text-align: right;
		  background-color: white !important;
		  cursor: default !important;
		}
        #morning_pull_table input {
          border-width: 0px;
          border: none;
        }
        #morning_pull_table .yellow_bg {
          background-color: #F8F40C !important;
        }
        #morning_pull_table .yellow_bg input {
          background-color: #F8F40C !important;
          text-align: right;
        }
        #morning_pull_table .white_bg {
          background-color: #FFFFFF !important;
        }
        #morning_pull_table .red_bg {
          background-color: #E40013 !important;
        }
        #morning_pull_table .green_bg {
          background-color: #22AE11 !important;
        }
        #morning_pull_table .green_bg input {
          background-color: #22AE11 !important;
          text-align: right;
        }